.navbar {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    width: 95%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
  
  .header-img {
    width: 220px;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;
  }
  
  .header-menu {
    margin: 8px 40px;
  }
  
  .header-menu--profile {
    margin-right: 60px;
    width: 50px;
  }
  